<template>
  <div></div>
</template>


<script>
  import cloud from 'd3-cloud';
  import { select } from 'd3-selection';
  import { scaleSqrt, scalePow } from 'd3-scale';
  import { max } from 'd3-array';
  import { randomNormal } from 'd3-random';
  import { transition } from 'd3-transition';
  import { easeExpOut } from 'd3-ease';
  var R = require('ramda');

  export default {
    props: { data: { required: true } },

    mounted() { this.update = init(this.$el.id); },

    watch: {
      data(itemCounts) { this.update(itemCounts); }
    }
  };

  function init(id) {
    const width = 400;
    const height = 200;
    const plotTranslate = `translate(${ width / 2 }, ${ height / 2 })`;
    const containerId = '#' + id;

    const chart = select(containerId)
                      .append('svg')
                        .attr('width', width)
                        .attr('height', height)
                      .append('g')
                        .attr('transform', plotTranslate);

    const config = { width: width, height: height };

    return getUpdater(chart, config);
  }

  function getUpdater(chart, config) {
    function update(itemCounts) {
      const countsList = R.values(itemCounts);
      const maxCount = max(R.pluck('count', countsList));
      const fontSize = scalePow().exponent(2)
                                   .domain([1, maxCount])
                                   .range([10, 50]);

      const layout = cloud()
                       .size([config.width, config.height])
                       .words(countsList)
                       .spiral('rectangular')
                       .padding(5)
                       .font('Impact')
                       .rotate(0)
                       .random(randomNormal(0.5, 0.1))
                       .fontSize((d) => fontSize(d.count))
                       .on('end', draw(chart));

      layout.start();

      function draw(chart) {
        return function(data) {
          var words = chart.selectAll('text')
                             .data(data, (d) => d.label);
          words.enter()
                 .append('text')
                   .style('font-family', 'Impact')
                   .attr('text-anchor', 'middle')
                   .text((d) => d.label)
               .merge(words)
                 .transition()
                   .duration(1300)
                   .ease(easeExpOut)
                     .attr('transform', (d) => `translate(${ [d.x, d.y] })`)
                     .style('font-size', (d) => `${ d.size }px`);
        }
      }

      return layout;
    }

    return update;
  }
</script>

