<template>
  <fieldset>
    <legend>Intereses</legend>

    <molino-toggler-cloud-creator :togglers="interests"
                                  @toggled="toggleInterest"
                                  @add="addInterest"
                                  placeholder="Ingrese su interés...">
    </molino-toggler-cloud-creator>
  </fieldset>
</template>

<script>
import MolinoTogglerCloudCreator from './MolinoTogglerCloudCreator.vue';

export default {
  props: {
    interests: {
      type: Array,
      required: true
    }
  },

  components: {
    MolinoTogglerCloudCreator: MolinoTogglerCloudCreator
  },

  methods: {
    addInterest(interest) {
      this.$emit('addInterest', interest);
    },

    toggleInterest(interest) {
      this.$emit('toggleInterest', interest);
    }
  }
};
</script>

