<template>
  <div class="molino-toggle-cloud-creator">
    <molino-toggler-cloud :buttons="togglers" @toggled="toggleItem">
    </molino-toggler-cloud>

    <button type="button" @click="showAddForm">
      Agregar
    </button>

    <molino-add-form type="string"
                     v-if="adding"
                     @add="addItem"
                     @cancel="removeAddForm"
                     :placeholder="placeholder">
    </molino-add-form>
  </div>
</template>

<script>
import MolinoAddForm from './MolinoAddForm.vue';
import MolinoTogglerCloud from './MolinoTogglerCloud.vue';

export default {
  props: {
    togglers: {
      type: Array,
      required: true
    },

    placeholder: {
      type: String,
      default: ''
    }
  },

  components: {
    MolinoAddForm: MolinoAddForm,
    MolinoTogglerCloud: MolinoTogglerCloud
  },

  data: () => ({
    adding: false
  }),

  methods: {
    toggleItem(item) { this.$emit('toggled', item); },

    showAddForm() { this.adding = true; },

    removeAddForm() { this.adding = false; },

    addItem(item) {
      this.$emit('add', item);
      this.removeAddForm();
    }
  }
}
</script>

