<template>
  <div>
    <molino-toggle-btn v-for="item in buttons"
                :key="'item' + item.label"
                @toggled="toggle"
                :btn-data="item">
    </molino-toggle-btn>
  </div>
</template>

<script>
import MolinoToggleBtn from './MolinoToggleBtn.vue';

export default {
  props: {
    buttons: {
      required: true,
      type: Array
    }
  },

  components: {
    MolinoToggleBtn: MolinoToggleBtn
  },

  methods: {
    toggle(btnData) { this.$emit('toggled', btnData); }
  }
}
</script>

