<template>
  <fieldset>
    <legend>Quejas</legend>

    <molino-toggler-cloud-creator :togglers="complaints"
                                  @toggled="toggleComplaint"
                                  @add="addComplaint"
                                  placeholder="Ingrese su queja...">
    </molino-toggler-cloud-creator>
  </fieldset>
</template>

<script>
import MolinoTogglerCloudCreator from './MolinoTogglerCloudCreator.vue';

export default {
  props: {
    complaints: {
      type: Array,
      required: true
    }
  },

  components: {
    MolinoTogglerCloudCreator: MolinoTogglerCloudCreator
  },

  methods: {
    addComplaint(complaint) {
      this.$emit('addComplaint', complaint);
    },

    toggleComplaint(complaint) {
      this.$emit('toggleComplaint', complaint);
    }
  }
};
</script>

