<template>
  <div class="molino-list-creator">
    <button type="button"
            @click="showAddForm"
            :disabled="adding">
      Agregar
    </button>

    <ul>
      <li v-for="(item, i) in list">
        <span>{{ item }}</span>
        <button type="button" @click="removeItem(i)">Eliminar</button>
      </li>
    </ul>

    <molino-add-form :type="type"
                     v-if="adding"
                     @add="addItem"
                     @cancel="removeAddForm">
    </molino-add-form>
  </div>
</template>

<script>
import MolinoAddForm from './MolinoAddForm.vue';

export default {
  props: {
    list: {
      type: Array,
      required: true
    },

    type: {
      type: String,
      required: true
    }
  },

  components: {
    MolinoAddForm: MolinoAddForm
  },

  data: () => ({
    adding: false,
  }),

  methods: {
    showAddForm() { this.adding = true; },

    removeAddForm() { this.adding = false; },

    removeItem(i) { this.$emit('remove', i); },

    addItem(item) {
      this.$emit('add', item);
      this.removeAddForm();
    }
  }
}
</script>

