<template>
  <button type="button"
          @click="toggle"
          class="toggle-btn"
          :class="{ active: btnData.activated }">
    {{ btnData.label }}
    <span class="count">{{ btnData.count }}</span>
  </button>
</template>

<script>
export default {
  props: {
    btnData: {
      type: Object,
      required: true
    }
  },

  methods: {
    toggle() {
      this.$emit('toggled', this.btnData);
    }
  }
};
</script>

<style scoped>
.toggle-btn {
  margin-right: 0.8em;
  margin-bottom: 0.8em;
  padding-right: 0;

  .count {
    padding: 0.3em 0.5em;
    background-color: orange;
    border-radius: 40%;
    position: relative;
    right: -0.4em;
    top: -0.5em;
  }
}
</style>

