<template>
  <fieldset id="ages-and-counts">
    <legend>Edades de los habitantes</legend>

    <div class="form-group">
      <h3>Hombres:</h3>

      <molino-list-creator :list="mAges"
         type="number"
         @add="addMAge"
         @remove="removeMAge">
      </molino-list-creator>
    </div>

    <div class="form-group">
      <h3>Mujeres:</h3>

      <molino-list-creator :list="fAges"
         type="number"
         @add="addFAge"
         @remove="removeFAge">
      </molino-list-creator>
    </div>
  </fieldset>
</template>

<script>
import MolinoListCreator from './MolinoListCreator.vue';

export default {
  props: {
    fAges: {
      type: Array,
      required: true
    },

    mAges: {
      type: Array,
      required: true
    }
  },

  components: {
    MolinoListCreator: MolinoListCreator
  },

  methods: {
    addFAge(age) { this.$emit('addFAge', age); },
    addMAge(age) { this.$emit('addMAge', age); },
    removeFAge(i) { this.$emit('removeFAge', i); },
    removeMAge(i) { this.$emit('removeMAge', i); }
  }
}
</script>

