<template>
  <form class="molino-add-form">
    <input v-if="type == 'string'"
           ref="input"
           :placeholder="placeholder"
           v-model="toAdd" />

    <input v-if="type == 'number'"
           ref="input"
           v-model="toAdd" />

    <button type="submit" @click="add">Aceptar</button>
    <button type="button" @click="cancel">Cancelar</button>
  </form>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      required: true
    },
    placeholder: {
      type: String,
      default: null
    }
  },

  data: () => ({
    toAdd: ''
  }),

  mounted() {
    setTimeout(() => this.$refs.input.focus(), 1);
  },

  methods: {
    add(e) {
      e.preventDefault();
      if (this.toAdd) {
        this.$emit('add', this.toAdd);
      }
    },

    cancel() {
      this.$emit('cancel');
    }
  }
}
</script>

