<template>
  <form id="app-survey">
    <transition>
      <component :is="currentQuestion.component"
                 v-bind="currentQuestion.props"
                 v-dyn-events="currentQuestion.events">
      </component>
    </transition>

    <div class="nav-container">
      <button type="button"
              @click="previousQuestion"
              v-show="!isFirstQuestion">
        Anterior
      </button>

      <span>{{ currentQIdx + 1 }} / {{ questions.length }}</span>

      <button type="button"
              @click="nextQuestion"
              v-show="!isLastQuestion">
        Siguiente
      </button>
    </div>

    <button id="submit-btn"
            v-show="isLastQuestion"
            type="button"
            @click="submit">
      Listo
    </button>
  </form>
</template>

<script>
import firebase from '../firebase-init';
import 'firebase/database';

import R from 'ramda';

import MolinoAgesQuestion from './MolinoAgesQuestion.vue';
import MolinoInterestsQuestion from './MolinoInterestsQuestion.vue';
import MolinoComplaintsQuestion from './MolinoComplaintsQuestion.vue';

export default {
  directives: {
    DynEvents: {
      bind(el, binding, vnode) {
        binding.value.map(function(obj) {
          vnode.componentInstance.$on(obj.event, obj.method);
        });
      },
      unbind(el, binding, vnode) {
        vnode.componentInstance.$off();
      }
    }
  },

  components: {
    MolinoAgesQuestion: MolinoAgesQuestion,
    MolinoInterestsQuestion: MolinoInterestsQuestion,
    MolinoComplaintsQuestion: MolinoComplaintsQuestion
  },

  data() {
    const data = {
      currentQIdx: 0,
      fAges: [],
      mAges: [],
      interests: [],
      complaints: []
    };

    data.questions = [
      {
        component: 'MolinoAgesQuestion',
        props: {
          fAges: data.fAges,
          mAges: data.mAges
        },
        events: [
          { event: 'addFAge', method: this.addFAge },
          { event: 'addMAge', method: this.addMAge },
          { event: 'removeFAge', method: this.removeFAge },
          { event: 'removeMAge', method: this.removeMAge }
        ]
      },
      {
        component: 'MolinoInterestsQuestion',
        props: {
          interests: data.interests
        },
        events: [
          { event: 'addInterest', method: this.addInterest },
          { event: 'toggleInterest', method: this.toggleInterest }
        ]
      },
      {
        component: 'MolinoComplaintsQuestion',
        props: {
          complaints: data.complaints
        },
        events: [
          { event: 'addComplaint', method: this.addComplaint },
          { event: 'toggleComplaint', method: this.toggleComplaint }
        ]
      }
    ];

    return data;
  },

  computed: {
    isLastQuestion() { return this.currentQIdx + 1 == this.questions.length; },
    isFirstQuestion() { return this.currentQIdx == 0; },
    currentQuestion() { return this.questions[this.currentQIdx]; }
  },

  beforeMount() {
    const database = firebase.database();
    const setInterestsAndComplaints = this.setInterestsAndComplaints;
    database.ref('/aggregates/interestsAndComplaints')
            .once('value', setInterestsAndComplaints);
  },

  methods: {
    addFAge(age) { this.fAges.push(age); },

    addMAge(age) { this.mAges.push(age); },

    removeFAge(idx) { this.fAges.splice(idx, 1); },

    removeMAge(idx) { this.mAges.splice(idx, 1); },

    setInterestsAndComplaints(snapshot) {
      const interests = getInterestsFromSnapshot(snapshot);
      const complaints = getComplaintsFromSnapshot(snapshot);

      replaceArray(this.interests, interests);
      replaceArray(this.complaints, complaints);
    },

    toggleInterest(interest) {
      this.toggleActivated(interest, this.interests);
    },

    toggleComplaint(complaint) {
      this.toggleActivated(complaint, this.complaints);
    },

    toggleActivated(item, list) {
      const updateCount = item.activated ? R.subtract(R.__, 1) : R.add(1);
      const toggledItem = R.evolve({
                                     activated: R.not,
                                     count: updateCount
                                   }, item);

      const index = findObjIndexByLabel(item.label, list);
      list.splice(index, 1, toggledItem);
    },

    addInterest(interest) { this.addItem(interest, this.interests); },

    addComplaint(complaint) { this.addItem(complaint, this.complaints); },

    addItem(item, list) {
      const itemObj = { label: item, count: 1, activated: true };
      list.push(itemObj);
    },

    nextQuestion() { this.currentQIdx += 1 },

    previousQuestion() { this.currentQIdx -= 1 },

    submit() {
      const filterActivated = R.filter((x) => x.activated);

      var data = {
        mAges: this.mAges,
        fAges: this.fAges,
        interests: R.pluck('label', filterActivated(this.interests)),
        complaints: R.pluck('label', filterActivated(this.complaints)),
      };

      const database = firebase.database();
      database.ref('/survey_responses')
        .push(data)
        .then((response) => {
            this.$emit('submit');
        });
    }
  }
};

const setActivatedProp = R.map(R.assoc('activated', false));
const getItemsFromSnapshot = R.pipe(
                               R.values,
                               setActivatedProp,
                               sortObjsByCount
                             );

function getInterestsFromSnapshot(snapshot) {
  return getItemsFromSnapshot(snapshot.val().interestCounts);
}

function getComplaintsFromSnapshot(snapshot) {
  return getItemsFromSnapshot(snapshot.val().complaintCounts);
}

function findObjIndexByLabel(label, list) {
  return R.findIndex(R.propEq('label', label))(list);
}

function sortObjsByCount(list) {
  return list.sort((a, b) => a.count - b.count).reverse();
}

function replaceArray(arr, newArr) {
  const args = [0, arr.length].concat(newArr);
  Array.prototype.splice.apply(arr, args);
}
</script>

<style>
#app-survey {
  font-size: 0.8em;
}

fieldset {
  border: none;
  margin-bottom: 2em;
  padding-left: 2em;

  legend {
    font-size: 1.3em;
    font-family: Georgia, serif;
    font-weight: bold;
    position: relative;
    left: -2em;
    margin-bottom: 0.7em;
  }

  h3 {
    margin-top: 0;
  }
}

input {
  border: 1px solid lightgrey;
  padding: 0.5em 0.5em 0.3em;
  font-size: 0.8em;
}

button {
  color: #555;
  cursor: pointer;
  background-color: #eee;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  padding: 0.4em 1em;
  outline: none;
  font-size: 0.8em;

  &.active {
    background-color: #aaa;
    color: #eee;
  }

  &:hover {
    border-color: #aaa;
  }
}
</style>

