<template>
  <div></div>
</template>


<script>
  import { axisLeft, axisBottom } from 'd3-axis';
  import { transition } from 'd3-transition';
  import { scaleLinear } from 'd3-scale';
  import { select } from 'd3-selection';
  import { easeExpOut } from 'd3-ease';
  import { format } from 'd3-format';
  import { range, max } from 'd3-array';
  import { chain, flatten, pipe, props } from 'ramda';

  import getHistBins from './age-calculator';

  export default {
    props: { data: { required: true } },

    mounted() { this.update = init(); },

    watch: {
      data(agesBySex) { this.update(agesBySex); }
    }
  };

  function init() {
    const margin = { axis: 65, nonAxis: 50 };
    const width = 800 - margin.axis - margin.nonAxis;
    const height = 400 - margin.axis - margin.nonAxis;
    const svg = select('#age-pyramid')
                  .append('svg')
                    .attr('width', width + margin.axis + margin.nonAxis)
                    .attr('height', height + margin.axis + margin.nonAxis);


  // Static containers
  ////////////////////

    const marginTranslate = `translate(${ margin.axis }, ${ margin.nonAxis })`;
    const chart = svg.append('g').attr('transform', marginTranslate);

    chart.append('g').attr('class', 'plot');

    chart.append('g')
           .attr('id', 'xaxis')
           .attr('class', 'axis')
           .attr('transform', `translate(0, ${height})`);

    chart.append('g')
           .attr('id', 'yaxis')
           .attr('class', 'axis');

    const binSize = 5;
    const config = { width: width, height: height, binSize: binSize };

    return updateChart(chart, config);
  }

  function updateChart(chart, config) {
    function configuredUpdateChart(agesBySex) {
      const binSize = config.binSize;
      const width = config.width;
      const height = config.height;
      const chartTransition = transition()
                                .duration(1300)
                                .ease(easeExpOut);

      const maxAge = max(agesBySex.f.concat(agesBySex.m));

      const data = getHistBins(agesBySex, binSize);
      const barWidth = Math.floor(width / data.length);
      const maxBinHeight = pipe(
                               chain(props(['f', 'm'])),
                               max
                             )(data);


    // Scales
    /////////

      const x = scaleLinear()
                  .domain([0, data.length * binSize])
                  .range([0, data.length * barWidth]);

      const y = scaleLinear()
                  .domain([0, maxBinHeight])
                  .range([height, 0]);

      const xOfIndex = (d, i) => `translate(${ x(i * binSize) }, 0)`;


    // Draw bars
    ////////////

      const bins = chart.select('.plot')
                          .selectAll('g')
                          .data(data);

      bins.transition(chartTransition)
            .attr('transform', xOfIndex);

      bins.exit()
        .transition(chartTransition)
          .style('opacity', 0)
          .remove();

      function prepareBarData(d) {
          // male is placed first so blue bars are behind the pink ones
        return [{ sex: 'male', val: d.m },
                { sex: 'female', val: d.f }];
      }

      const bars = bins.enter()
                         .append('g')
                           .attr('class', 'bin')
                           .attr('transform', xOfIndex)
                         .merge(bins)
                           .selectAll('rect')
                           .data(prepareBarData);

      bars.enter()
        .append('rect')
        .attr('class', (d) => d.sex)
          .attr('y', height)
          .attr('height', 0)
        .merge(bars)
          .attr('width', barWidth - 2) // 2 is the gap between bars
          .transition(chartTransition)
            .attr('height', (d) => height - y(d.val))
            .attr('y', (d) => y(d.val));


    // Axes
    ///////

        // Avoids tick label overlap when binSize < 5
      const xTickDist = binSize < 5 ? binSize * 5 : binSize;
        // The '+ xTickDist' forces a tick after the last bar
        // The '+ 1' fixes the exclusion of the max value in the range
      const xTicks = range(0, maxAge + 1 + xTickDist, xTickDist);

        // Rounded tick distance that would guarantee 10 ticks on the axis
      const defaultYTickDist = Math.ceil(maxBinHeight * 10) / 100;
        // Places ticks at every percent when there would be less
        // than 10 on the axis (avoids decimals)
      const yTickDist = maxBinHeight >= 0.1 ?  defaultYTickDist : 0.01;
        // The '+ yTickDist' forces a tick higher than the highest bar
      const yTicks = range(yTickDist, maxBinHeight + yTickDist, yTickDist);


      const xAxis = axisBottom(x)
                      .tickPadding(6)
                      .tickValues(xTicks);

      const yAxis = axisLeft(y)
                      .tickPadding(10)
                      .tickValues(yTicks)
                      .tickSizeInner(-width)
                      .tickFormat(format('.0%'));


      chart.select('#xaxis')
        .transition(chartTransition)
          .call(xAxis);

      chart.select('#yaxis')
        .transition(chartTransition)
          .call(yAxis);

      chart.select('#xaxis')
        .append('text')
          .text('Edades')
          .attr('class', 'label')
          .attr('x', width / 2)
          .attr('dy', '3em');

      chart.select('#yaxis')
        .append('text')
          .text('Porcentaje de la población')
          .attr('class', 'label')
          .attr('transform', 'rotate(-90)')
          .attr('x', -height / 2)
          .attr('dy', '-3em');
    }

    return configuredUpdateChart;
  }
</script>



<style>
  #age-pyramid {
    h2 {
      text-align: center;
    }

    svg {
      display: block;
      margin: 0 auto;
    }

    .plot .bin {
      .female {
        fill-opacity: .4;
        fill: #FFA5AB;
      }

      .male {
        fill-opacity: .6;
        fill: #BDE9F9;
      }
    }

    .axis {
      .domain, line {
        fill: none;
        stroke: none;
      }

      text {
        font: 1.5em sans-serif;
        fill: #AAA;
      }

      .label {
        font: 1.7em sans-serif;
        fill: #777;
      }
    }

    #yaxis .tick line {
      stroke-opacity: .25;
      stroke: #FFF;
    }

    #xaxis .label {
      text-anchor: middle;
    }

    #yaxis .label {
      text-anchor: middle;
    }
  }
</style>

