<template>
  <div id="app-results">
    <div class="word-cloud-container">
      <h2>Intereses</h2>
      <word-cloud id="interests-wc" :data="interestCounts"></word-cloud>
    </div>

    <div class="word-cloud-container">
      <h2>Quejas</h2>
      <word-cloud id="complaints-wc" :data="complaintCounts"></word-cloud>
    </div>

    <h2>Pir&aacute;mide de poblaci&oacute;n</h2>
    <age-pyramid id="age-pyramid" :data="agesBySex"></age-pyramid>
  </div>
</template>


<script>
  import firebase from '../firebase-init';
  import 'firebase/database';

  import R from 'ramda';

  import AgePyramid from './age-pyramid/AgePyramid.vue';
  import WordCloud from './word-cloud/WordCloud.vue';

  export default {
    components: {
      AgePyramid: AgePyramid,
      WordCloud: WordCloud
    },

    data: () => ({
      agesBySex: {},
      interestCounts: {},
      complaintCounts: {}
    }),

    created() {
      const updateData = this.updateData;
      firebase.database()
        .ref('/aggregates')
        .on('value', updateData);
    },

    methods: {
      updateData(snapshot) {
        const aggregates = snapshot.val();
        this.agesBySex = { f: aggregates.fAges, m: aggregates.mAges };
        this.interestCounts = aggregates.interestsAndComplaints.interestCounts;
        this.complaintCounts = aggregates.interestsAndComplaints.complaintCounts;
      }
    }
  };
</script>


<style>
  #app-results {
    .word-cloud-container {
      float: left;
    }

    #interests-wc {
      text {
        fill: #A0E293;
      }
    }

    #complaints-wc {
      text {
        fill: #E88886;
      }
    }
  }
</style>

