<template>
  <div id="app">
    <h1>Comisión Ambiental</h1>
    <h2>Encuesta Hogares 2017</h2>

    <button id="login-btn"
            v-if="!loggedIn"
            type="button"
            @click="showLoginPrompt">
      Login
    </button>

    <div id="shade" v-show="loginPromptVisible"></div>
    <form id="login-prompt" v-show="loginPromptVisible">
      <label for="username-input">Usuario</label>
      <input id="username-input" type="text" v-model="username" />

      <label for="password-input">Contrase&ntilde;a</label>
      <input id="password-input" type="password" v-model="password" />

      <p id="invalid-login-msg" v-show="invalidLogin">Datos invalidos.</p>

      <button type="button" @click="hideLoginPrompt">Cancelar</button>
      <button type="submit" @click="attemptLogin">Entrar</button>
    </form>

    <button id="survey-btn"
            type="button"
            @click="goToSurvey"
            v-if="loggedIn && currentView == 'results'">
      Encuesta
    </button>

    <button id="results-btn"
            type="button"
            @click="goToResults"
            v-if="currentView == 'survey'">
      Salir
    </button>

    <component :is="currentView" @submit="goToResults"></component>
  </div>
</template>

<script>
  import firebase from './firebase-init';
  import 'firebase/database';
  import 'firebase/auth';

  import Results from './results/Results.vue';
  import Survey from './survey/Survey.vue';

  export default {
    components: {
      results: Results,
      survey: Survey
    },

    data: () => ({
      currentView: 'results',
      loginPromptVisible: false,
      loggedIn: false,
      invalidLogin: false,
      username: '',
      password: ''
    }),

    created() {
      firebase.auth().onAuthStateChanged((user) => {
        if (user) { this.setLoggedIn(); }
      });
    },

    methods: {
      showLoginPrompt() {
        this.loginPromptVisible = true;
          // weird hack to get focus() to work
        setTimeout(() => document.getElementById('username-input').focus(), 1);
      },

      hideLoginPrompt() {
        this.loginPromptVisible = false;
      },

      attemptLogin(event) {
        event.preventDefault();
        const email = `${ this.username }@email.com`;

        firebase.auth()
          .signInWithEmailAndPassword(email, this.password)
          .then(this.setLoggedIn)
          .catch(() => {
              this.invalidLogin = true;
              this.password = '';
            });
      },

      setLoggedIn() {
        this.loginPromptVisible = false;
        this.loggedIn = true;
        this.invalidLogin = false;
        this.password = '';
        this.username = '';
      },

      goToSurvey() { this.currentView = 'survey'; },

      goToResults() { this.currentView = 'results'; }
    }
  }
</script>

<style>
  body {
    font-size: 16pt;
    font-family: Verdana, Geneva, sans-serif;
    color: #555;
    background-color: #fafafa;
    margin: 0 auto;
    min-width: 400px;
    max-width: 800px;

    #app {
      h1, h2 {
        font-family: Georgia, serif;
        text-align: center;
      }

      & > h1 {
        margin-bottom: 0;
      }

      & > h2 {
        margin-top: 0;
      }

      #login-btn,
      #survey-btn,
      #results-btn {
        position: absolute;
        right: 50px;
        top: 30px;
        border: none;
        color: #aaa;
        background-color: transparent;
        outline: none;
        font-size: 0.6em;
        text-decoration: none;
      }

      #shade {
        position: absolute;
        background-color: rgba(250,250,250,0.9);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 0;
      }

      #login-prompt {
        padding: 20px;
        background-color: #fafafa;
        position: absolute;
        top: 30px;
        right: 50px;
        border: 10px solid #e6e6e6;
        border-radius: 10px;

        input {
          display: block;
          margin-bottom: 10px;
        }

        #invalid-login-msg {
          font-weight: bold;
          color: #e88886;
        }
      }
    }
  }
</style>

